<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SimpleDrawingBoard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B95112C01E73CF6000BE570B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B95112D91E73CF6000BE570B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B95112E41E73CF6000BE570B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
